<ifModule mod_rewrite.c>
    <ifModule mod_negotiation.c>
    Options -MultiViews
    </ifModule>
    RewriteEnggine On

    RewriteCond %{REQUEST_FILENAME} -D [OR]
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^ ^$1 [N]

    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ /public/$1 [L,QSA]
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ server.php 
</ifModule>