<ifModule mod_rewrite.c>
    <ifModule mod_negotiation.c>
    Options -MultiViews
    </ifModule>
    RewriteEnggine On

    RewriteCond %{REQUEST_FILENAME} -D [OR]
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^ ^$1 [N]

    RewriteCond %{REQUEST_URL} (\.\w+s) [N]
    RewriteRule ^(.*$) public/$1
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ server.php 
</ifModule>
